*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'neueBold';
    src: url('/src/styles/fonts/TT\ Firs\ Neue\ Trial\ Medium.ttf');
}
@font-face {
    font-family: 'neueRegular';
    src: url('/src/styles/fonts/TT\ Firs\ Neue\ Trial\ Light.ttf');
}
@font-face {
    font-family: 'neueThin';
    src: url('/src/styles/fonts/TT\ Firs\ Neue\ Trial\ Thin.ttf');
}
@font-face {
    font-family: 'neueOutline';
    src: url('/src/styles/fonts/TT\ Firs\ Neue\ Bold\ Outline\ Trial.otf');
}

.neueBold{
    font-family: "neueBold";
}
.neueRegular{
    font-family: "neueRegular";
}
.neueThin{
    font-family: "neueThin";
}
.neueOutline{
    font-family: "neueOutline";
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    margin-left: 82px;
    margin-right: 82px;
}

a{
    text-decoration: none;
    color: black;
}

.navbar ul {
    display: flex;
    gap: 40px;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    font-family: "neueThin";
    cursor: pointer;
}

header hr{
    margin-top: 12px;
     margin-left: 82px;
    margin-right: 82px;
}

/* container */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 69px;
    margin-top: 40px;
}

.text-96{
    font-size: 96px;
    font-weight: 100;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.arrow-wrapper{
    width: 40px;
    height: 40px;
    padding: 42px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    left: -317px;
}

/* WORK CONTAINER */

.work-section{
    margin-top: 82px;
    margin-left:350px;
}

.work-container span{
    color: #EF4242;
}
.work-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 63px;
}

.text-64{
    font-size: 64px;
}

.work-wrapper{
    display: flex;
    /* justify-content: center; */
    gap: 19px;

}

.arrow-wrapper-2{
    width: 40px;
    height: 40px;
    padding: 42px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    top: 158px;
    
}

.text-36{
    font-size: 36px;
}

.img-scroll{
    display: flex;
    justify-content: end;
    margin-right: 400px;
}

/* nike container */

.nike-container{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.nike-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.nike-wrapper img{
    height: 42px;
    width: 42px;
    
}

.some-text{
    margin-right: 400px;
    line-height: 1.5;
}

.text-24{
    font-size: 24px;
}

.flex{
    display: flex;
    justify-content: center;
}

/* gallery section */

.gallery-section{
    margin-top: 80px;
}

.absolute{
    position: absolute;
    top: 2350px;
    left: 1410px;
}

.image-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.holke-picture{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.falsa-picture{
     display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}


.list{
    margin-top:70px ;
}

.list li{
    display: flex;
    gap:32px
}

.list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 80px;
}

.text-48{
    font-size: 48px;
}

.red{
    color: #EF4242;
}
.second-list{
    margin-top: 30px;
}

/* SERVICE SECTION */

.service-section{
    margin-top: 10px;
}

.service-section p {
    margin-left: 365px;
    margin-bottom: 70px;
}

.service-section li {
    list-style: none;
}
.service-section ul{
   display: flex;
   flex-direction: column;
   gap: 40px;
   /* margin-right: 200px; */
}

.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.service-container li:hover{
    color: #EF4242;
    cursor: pointer;
    font-weight: 900;
}

.service-container li:hover::after{
    content: url('/src/icons/vector-red.svg');
   
}

.width{
    width: 800px;
}

/* about section */

.about-section{
    margin-top: 180px;
    display: flex;
    justify-content: center;
   
}

.background-container{
    background-image: url('/src/images/background-img.png');
    width: 1276px;
    height: 827px;
    /* padding-left: 85px; */
}

.paragraph {
    margin-top: 85px;
    font-size: 18px;
    margin-left: 85px;
}

.background-container h2{
     margin-left: 85px;
     margin-top: 50px;
}

.client-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* align-items: center; */
    justify-content: center;
    margin-left: 650px;
}

.picture{
    margin-left: 400px;
    margin-top: -340px;
}


.something{
    display: flex;
    gap: 110px;
}

.design{
    margin-top: 60px;
}

.red-color{
    color: #EF4242;
    font-weight: 800;
}


.contact-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.mail{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer{
    margin-top: 100px;
}

.footer-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-bottom: 20px;
}

footer ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.services{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}